<template>
  <base-popup name="popup-register" class="popup-register" width="432px" :top="'90px'" :open="handleOpen" :close="handleClose" :isShowFooter="false">
    <div slot="title" class="fb-flex-column">
      <span v-if="isWantToRegister">ĐĂNG KÝ</span>
      <span v-else>ĐĂNG NHẬP</span>
      <span class="text-base text-normal"></span>
    </div>
    <div class="content">
      <el-form :model="form" @submit.native.prevent :show-message="false">
        <el-form-item :rules="[{ required: true }]" prop="fullName" v-if="isWantToRegister">
          <el-input type="fullName" v-model="form.fullName" :placeholder="'Họ và tên'" clearable></el-input>
        </el-form-item>
        <el-form-item :rules="[{ required: true }]" prop="username" autocomplete="off">
          <el-input type="username" v-model="form.username" :placeholder="'Tên đăng nhập'" clearable></el-input>
        </el-form-item>
        <el-form-item :rules="[{ required: true }]" prop="email" v-if="isWantToRegister" autocomplete="off">
          <el-input type="email" v-model="form.email" :placeholder="'Email'" clearable></el-input>
        </el-form-item>
        <el-form-item :rules="[{ required: true }]" prop="phoneNumber" v-if="isWantToRegister" autocomplete="off">
          <el-input type="phoneNumber" v-model="form.phoneNumber" :placeholder="'Số điện thoại'" clearable autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item :rules="[{ required: true }]" prop="password">
          <el-input type="password" v-model="form.password" :placeholder="'Mật khẩu'" clearable show-password></el-input>
        </el-form-item>
        <el-form-item :rules="[{ required: false }]" prop="address" v-if="isWantToRegister">
          <el-input type="address" v-model="form.address" :placeholder="'Địa chỉ'" clearable></el-input>
        </el-form-item>
      </el-form>
      <div class="reg-policy mt-1 mb-1 ml-2">
        <span class="text-base text-primary break-word cursor hover-underline" v-if="isWantToRegister" @click="isWantToRegister = false"> Đã có tài khoản? Đăng nhập! </span>
        <span class="text-base text-primary break-word cursor hover-underline" v-if="!isWantToRegister" @click="isWantToRegister = true"> Chưa có tài khoản? Đăng ký ngay! </span>
      </div>
      <div class="w-100 flex jc-center mt-2 mb-1">
        <button v-if="isWantToRegister" @click="handleRegister" class="btn-default btn-register">Đăng ký<i v-if="isLoading" class="el-icon-loading loading"></i></button>
        <button v-else @click="handleLogin" class="btn-default btn-register">Đăng nhập<i v-if="isLoading" class="el-icon-loading loading"></i></button>
      </div>
    </div>
  </base-popup>
</template>

<script lang="ts">
  import { Component, Mixins } from 'vue-property-decorator'
  import { namespace } from 'vuex-class'
  import BasePopup from '@/components/base/popup/BasePopup.vue'
  import PopupMixin from '@/mixins/popup'
  const xBase = namespace('xBase')
  const xAuth = namespace('xAuth')
  @Component({ components: { BasePopup } })
  export default class PopupRegister extends Mixins(PopupMixin) {
    @xBase.State('language') language!: string
    @xAuth.Action('register') register!: (data: Record<string, any>) => Promise<Record<string, any>>
    @xAuth.Action('login') login!: (data: Record<string, any>) => Promise<Record<string, any>>
    isLoading = false
    form: Record<string, any> = {
      fullName: '',
      username: '',
      email: '',
      phoneNumber: '',
      password: '',
      address: ''
    }
    isWantToRegister = false
    get validateForm(): boolean {
      if (!this.form.fullName || !this.form.email || !this.form.phoneNumber || !this.form.username || !this.form.password) {
        return false
      }
      return true
    }

    handleOpen(): void {
      console.log('open')
      this.isWantToRegister = false
    }
    handleClose(): void {
      this.setOpenPopup({
        popupName: 'popup-register',
        isOpen: false
      })
    }
    handleRegister(): void {
      if (this.validateForm) {
        this.isLoading = true
        this.register(this.form)
          .then(rs => {
            if (rs) {
              let message = 'Đăng ký thành công'
              this.$message.success(message)
              this.handleLogin()
              this.isLoading = false
            }
          })
          .catch(err => {
            this.isLoading = false
          })
      } else {
        let message = 'Bạn cần điền đầy đủ thông tin!'
        this.$message.error(message)
      }
    }
    async handleLogin(): Promise<void> {
      //
      const loginForm = {
        username: this.form.username,
        password: this.form.password
      }
      const loginData = await this.login(loginForm)
      if (loginData) {
        this.handleClose()
      }
    }
    convertMonth(monthNumber: number): string {
      const date = new Date()
      date.setMonth(monthNumber)
      return date.toLocaleString('en-US', {
        month: 'long'
      })
    }
  }
</script>

<style lang="scss">
  .popup-register {
    .el-dialog__header {
      border-bottom: 1px solid var(--fkb-border-primary) !important;
    }
    .label {
      line-height: 20px;
      font-size: 12px;
      color: var(--fkb-text-secondary);
    }
    .content {
      overflow: hidden;
      .box-left {
        width: 194px;
      }
      .box-right {
        width: 194px;
      }
      .select-birthday {
        width: 125px;
      }
      .radio-gender {
        width: 194px;
        margin: 0 !important;
      }
    }
    .btn-register {
      position: relative;
      width: 194px;
      height: 36px;
      font-size: 18px;
      font-weight: 600;
    }
  }
</style>
