<template>
  <div class="content">
    <div class="title">DANH SÁCH ĐƠN HÀNG</div>
    <!-- <div style="text-align: right" class="cursor"><font-awesome-icon icon="fa-regular fa-square-plus" class="icon-add"></font-awesome-icon></div>
         -->
    <div class="bg-white wallet-header">
      <div class="be-flex align-center jc-space-between wallet-header__above">
        <div class="wallet-header__above-tabs be-flex">
          <button class="tab-item cursor" v-for="tab in tabs" :key="tab.id">
            <span class="text-base">{{ tab.title }}</span>
          </button>
        </div>
      </div>
    </div>
    <el-table :data="tableData" stripe style="width: 100%">
      <el-table-column prop="model" label="Mã đơn hàng" width="140"> </el-table-column>
      <el-table-column prop="unitPrice" label="Mã khách hàng" width="140"> </el-table-column>
      <el-table-column prop="numOfRemain" label="Mã đồng hồ" width="140"> </el-table-column>
      <el-table-column prop="providerId" label="Số lượng" width="120"> </el-table-column>
      <el-table-column prop="materialId" label="Thành tiền" width="120"> </el-table-column>
      <el-table-column> <font-awesome-icon icon="fa-regular fa-pen-to-square" class="cursor"></font-awesome-icon> </el-table-column>
      <el-table-column> <font-awesome-icon icon="fa-regular fa-trash-can" class="cursor"></font-awesome-icon> </el-table-column>
    </el-table>
  </div>
</template>

<script lang="ts">
  import { Vue, Component, Mixins } from 'vue-property-decorator'
  import EventBus from '@/utils/eventBus'
  import BaseLoading from '../../../components/base/loading/BaseLoading.vue'
  import { WebRepository } from '@/services/repositories/product'
  import getRepository from '@/services'
  import PopupMixin from '@/mixins/popup'

  import PopupAddClock from '../components/PopupAddClock.vue'
  import PopupAddClockType from '../components/PopupAddClockType.vue'
  import PopupAddMaterial from '../components/PopupAddMaterial.vue'
  import PopupAddProvider from '../components/PopupAddProvider.vue'
  const apiWeb: WebRepository = getRepository('product')
  @Component({
    components: { PopupAddClock, PopupAddClockType, PopupAddMaterial, PopupAddProvider }
  })
  export default class BoOrders extends Mixins(PopupMixin) {}
</script>

<style lang="scss" scoped>
  .title {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  .content {
    display: inline-block;
    width: 950px;
    height: 80%;

    .btn-add-clock {
      display: flex;
      flex-direction: row;
      justify-content: end;
    }
    .wallet-header__above-tabs {
      display: flex;
      flex-direction: row;
      .tab-item {
        width: fit-content;
        padding: 16px 12px;
        border: none;
        background: #fff;
        border-radius: 8px;

        &:hover {
          color: var(--bc-tab-active);
          background: rgb(161, 161, 161);
        }
      }
    }

    .icon-add {
      width: 20px;
      height: 20px;
    }
  }
</style>
