<template>
  <div class="content">
    <div class="title text-2xl text-bold mb-3">Tất cả sản phẩm</div>
    <div style="display: flex; flex-direction: row; justify-content: space-between" class="mb-24">
      <div style="text-align: right" class="cursor btn-add-clock align-center">
        <font-awesome-icon icon="fa-regular fa-square-plus" class="icon-add"></font-awesome-icon>
        <span class="ml-8 text-sm" @click="openPopupAddMaterial">Thêm chất liệu</span>
      </div>
      <div style="text-align: right" class="cursor btn-add-clock align-center">
        <font-awesome-icon icon="fa-regular fa-square-plus" class="icon-add"></font-awesome-icon>
        <span class="ml-8 text-sm" @click="openPopupAddClockType">Thêm loại đồng hồ</span>
      </div>
      <div style="text-align: right" class="cursor btn-add-clock align-center">
        <font-awesome-icon icon="fa-regular fa-square-plus" class="icon-add"></font-awesome-icon>
        <span class="ml-8 text-sm" @click="openPopupAddProvider">Thêm nhà cung cấp</span>
      </div>
      <div style="text-align: right" class="cursor btn-add-clock align-center">
        <font-awesome-icon icon="fa-regular fa-square-plus" class="icon-add"></font-awesome-icon>
        <span class="ml-8 text-sm" @click="openPopupAddClock">Thêm đồng hồ</span>
      </div>
    </div>
    <el-table :data="allItem" stripe style="width: 100%">
      <el-table-column width="50"> <font-awesome-icon icon="fa-regular fa-pen-to-square" class="cursor"></font-awesome-icon> </el-table-column>
      <el-table-column width="50"> <font-awesome-icon icon="fa-regular fa-trash-can" class="cursor"></font-awesome-icon> </el-table-column>
      <el-table-column prop="model" label="Tên đồng hồ" width="200"> </el-table-column>
      <el-table-column prop="unitPrice" label="Giá" width="100"> </el-table-column>
      <el-table-column prop="numOfRemain" label="Số lượng" width="100"> </el-table-column>
      <el-table-column prop="providerId.name" label="Nhà cung cấp" width="180"> </el-table-column>
      <el-table-column prop="materialId.name" label="Chất liệu" width="120"> </el-table-column>
      <el-table-column prop="clockTypeId.name" label="Loại" width="220"> </el-table-column>
    </el-table>
  </div>
</template>

<script lang="ts">
  import { Vue, Component, Mixins } from 'vue-property-decorator'
  import EventBus from '@/utils/eventBus'
  import BaseLoading from '../../../components/base/loading/BaseLoading.vue'
  import { WebRepository } from '@/services/repositories/product'
  import getRepository from '@/services'
  import PopupMixin from '@/mixins/popup'

  import PopupAddClock from '../components/PopupAddClock.vue'
  import PopupAddClockType from '../components/PopupAddClockType.vue'
  import PopupAddMaterial from '../components/PopupAddMaterial.vue'
  import PopupAddProvider from '../components/PopupAddProvider.vue'
  const apiWeb: WebRepository = getRepository('product')
  @Component({
    components: { PopupAddClock, PopupAddClockType, PopupAddMaterial, PopupAddProvider }
  })
  export default class BoProducts extends Mixins(PopupMixin) {
    isLoading = false
    value = new Date()
    allItem: Array<Record<string, any>> = []

    async getAllClock(): Promise<void> {
      const result = await apiWeb.getAllProduct()
      this.allItem = result.data
    }
    created(): void {
      this.getAllClock()
    }
    destroy(): void {
      //   EventBus.$off('loadingPosts')
    }

    openPopupAddClock(): void {
      this.setOpenPopup({
        popupName: 'popup-add-clock',
        isOpen: true
      })
    }
    openPopupAddClockType(): void {
      this.setOpenPopup({
        popupName: 'popup-add-clock-type',
        isOpen: true
      })
    }
    openPopupAddMaterial(): void {
      this.setOpenPopup({
        popupName: 'popup-add-material',
        isOpen: true
      })
    }
    openPopupAddProvider(): void {
      this.setOpenPopup({
        popupName: 'popup-add-provider',
        isOpen: true
      })
    }
  }
</script>

<style lang="scss" scoped>
  .content {
    display: inline-block;
    width: 950px;
    height: 80%;

    .btn-add-clock {
      display: flex;
      flex-direction: row;
      justify-content: end;
    }
    .wallet-header__above-tabs {
      display: flex;
      flex-direction: row;
      .tab-item {
        width: fit-content;
        padding: 16px 12px;
        border: none;
        background: #fff;
        border-radius: 8px;

        &:hover {
          color: var(--bc-tab-active);
          background: rgb(161, 161, 161);
        }
      }
    }

    .icon-add {
      width: 20px;
      height: 20px;
    }
  }
</style>
