<template>
  <div>abc</div>
</template>

<script>
  import { Vue, Component, Mixins } from 'vue-property-decorator'
  import PopupMixin from '@/mixins/popup'

  export default class BoStatistical extends Mixins(PopupMixin) {}
</script>

<style></style>
