<template>
  <div class="cart-item">
    <div class="mr-16"><el-checkbox v-model="isChecked" @change="clickCheckbox" class="check-box"></el-checkbox></div>

    <div class="cart-item-img mr-24 cursor" @click="openDetail">
      <img :src="itemData.clockId.images[0]" alt="" />
    </div>
    <div class="cart-item-detail">
      <p class="cart-item-detail-description text-0xl">
        {{ itemData.clockId.model }}
      </p>
      <span class="cart-item-detail-price m-0">{{ formatPrice(itemData.clockId.unitPrice) }}</span>
      <div class="cart-item-detail-qty">
        <p class="mr-16">Số lượng:</p>
        <div class="qty-decrease">
          <!--                      <button class="button">-->
          <!--                        <span class="material-icons-outlined"> remove </span>-->
          <!--                      </button>-->
        </div>
        <el-input-number class="inputNumber" size="mini" v-model="itemData.quantity" @change="changeQuantity()" :min="1" :max="itemData.clockId.numOfRemain"></el-input-number>
        <!-- <span>{{ itemData.quantity }}</span> -->
        <div class="qty-increase">
          <!--                      <button class="button">-->
          <!--                        <span class="material-icons-outlined"> add </span>-->
          <!--                      </button>-->
        </div>
      </div>
    </div>
    <div class="delete-item">
      <button class="button cursor" @click="handleDeleteItem()">
        <p>Xóa</p>
      </button>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator'
  import EventBus from '@/utils/eventBus'
  import PopupMixin from '@/mixins/popup'
  import { AccountRepository } from '@/services/repositories/account'
  import getRepository from '@/services'
  const apiAccount: AccountRepository = getRepository('account')

  import { formatPrice } from '@/config/format'
  import { debounce, forEach } from 'lodash'
  @Component({
    components: {}
  })
  export default class CartItem extends PopupMixin {
    @Prop({ required: true }) data!: Record<string, any>
    isLoading = false
    timer: any
    isChecked = false
    itemData: Record<string, any> = {
      _id: '',
      userId: '',
      clockId: {
        _id: '',
        model: '',
        materialId: '',
        clockTypeId: '',
        numOfRemain: 0,
        description: '',
        images: [],
        unitPrice: 0
      },
      quantity: 0,
      createdAt: '',
      updatedAt: '',
      isChecked: false
    }
    created(): void {
      //
      this.itemData = { ...this.data }
      this.itemData.isChecked = false
      EventBus.$on('selectAll', (payload: any) => this.handleSelectAll(payload))
    }
    destroy(): void {
      EventBus.$off('selectAll')
    }

    formatPrice(value: string | number): string {
      return formatPrice(value)
    }
    clickCheckbox(): void {
      this.$emit('clickCheckbox', { ...this.itemData, isChecked: this.isChecked })
      this.$forceUpdate()
    }
    openDetail(): void {
      this.$router.push('detail')
    }
    handleDeleteItem(): void {
      this.$emit('deleteItem', this.itemData)
    }
    changeQuantity(): void {
      this.$emit('changeQuantity', this.itemData)
    }
    handleSelectAll(payload: boolean): void {
      this.isChecked = payload
    }
  }
</script>

<style lang="scss" scoped>
  .cart-item {
    /* width: 80%; */
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-bottom: 7px;
    width: 100%;
    align-items: center;
    .check-box {
      justify-items: center;
    }
  }
  /* .cart-item-img {
  } */
  .cart-item-img > img {
    height: 100px;
    width: 100px;
    border: 1px solid var(--fkb-border-primary);
    object-fit: contain;
  }
  .cart-item-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0.8;
  }
  .cart-item-detail-description {
    font-weight: 600;
    font-size: 24px;
    color: red;
  }
  .cart-item-detail-price {
    color: grey;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 10px 10px 0px;
    margin: 7px 0;
  }
  .cart-item-detail-qty {
    display: flex;
    align-items: center;
  }
  .qty-decrease > button,
  .qty-increase > button {
    margin-left: 7px;
    margin-right: 7px;
    height: 30px;
    width: 30px;
    border-radius: 0px;
    background-color: #dbdbdb;
  }
  .delete-item {
    flex: 0.2;
    padding: 30px;
    text-align: center;
    justify-content: center;
  }
  .delete-item > button {
    border-radius: 8px;
    width: 50px;
    border: none;
    background-color: #dbdbdb;
  }
  .delete-item > button:hover {
    background-color: #af6535;
    color: #fff;
    transition: 0.1s ease-in;
  }
  /* .middle {
    flex: 0.2;
  } */

  .item-qty,
  .item-total {
    display: flex;
    justify-content: space-between;
  }
  .item-qty > p,
  .item-total > p {
    font-weight: 500;
  }
  .item-total > span {
    color: #e76262;
    font-weight: 500;
  }

  .cart-empty {
    width: 60%;
    margin: 0 auto;
  }
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .center > h1 {
    margin-bottom: 10px;
  }
  .button-cart {
    height: 50px;
    border: none;
    background-color: #dbdbdb;
  }
  .button-cart:hover {
    background-color: #3e8ed0;
    color: #fff;
    transition: 0.1s ease-in;
  }

  .cart-button {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .button-cart-info {
    padding: 10px;
    margin: 10px;
    border: none;
    color: #000;
    font-weight: 500;
    height: 50px;
    border-radius: 8px;
  }
</style>
