<template>
  <base-popup name="popup-my-info" class="popup-my-info" width="400px" :top="'90px'" :open="handleOpen" :close="handleClose" :isShowFooter="false">
    <h1 class="text-xl mb-24 text-center">THÔNG TIN TÀI KHOẢN</h1>
    <div class="cover">
      <div>
        <p class="text-base mb-16 text-bold">Họ và tên:</p>
        <p class="text-base mb-16 text-bold">Số điện thoại:</p>
        <p class="text-base mb-16 text-bold">Email:</p>
        <p class="text-base mb-16 text-bold">Địa chỉ:</p>
      </div>
      <div class="value">
        <div class="right">
          <span class="text-base mb-16 mr-12">{{ data.fullName }}</span> <font-awesome-icon icon="fa-regular fa-pen-to-square" class="cursor"></font-awesome-icon>
        </div>
        <div class="right">
          <span class="text-base mb-16 mr-12">{{ data.phoneNumber }}</span> <font-awesome-icon icon="fa-regular fa-pen-to-square" class="cursor"></font-awesome-icon>
        </div>
        <div class="right">
          <span class="text-base mb-16 mr-12">{{ data.email }}</span> <font-awesome-icon icon="fa-regular fa-pen-to-square" class="cursor"></font-awesome-icon>
        </div>
        <div class="right">
          <span class="text-base mb-16 mr-12">{{ data.address }}</span> <font-awesome-icon icon="fa-regular fa-pen-to-square" class="cursor"></font-awesome-icon>
        </div>
      </div>
    </div>
  </base-popup>
</template>

<script lang="ts">
  import { Component, Mixins } from 'vue-property-decorator'
  import { namespace } from 'vuex-class'
  import BasePopup from '@/components/base/popup/BasePopup.vue'
  import PopupMixin from '@/mixins/popup'
  import getRepository from '@/services'
  import { AccountRepository } from '@/services/repositories/account'

  const apiAccount: AccountRepository = getRepository('account')

  @Component({ components: { BasePopup } })
  export default class PopupMyInfo extends Mixins(PopupMixin) {
    data: Record<string, any> = {}

    async getAccountDetail(): Promise<void> {
      this.data = await apiAccount.getAccountDetail()
    }

    created() {
      this.getAccountDetail()
    }
  }
</script>

<style lang="scss" scoped>
  .popup-my-info {
    .cover {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .value {
        .right {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: baseline;
        }
      }
    }
  }
</style>
