<template>
  <base-popup name="popup-add-material" class="popup-add-clock" width="300px" :top="'90px'" :open="handleOpen" :close="handleClose" :isShowFooter="false">
    <h1 class="text-xl mb-24">THÊM CHẤT LIỆU</h1>
    <el-form label-position="top" label-width="200px" :model="data">
      <div class="cover">
        <el-form-item label="Tên chất liệu">
          <el-input class="form" v-model="data.name"></el-input>
        </el-form-item>
        <el-form-item label="Mô tả">
          <el-input class="form" v-model="data.info"></el-input>
        </el-form-item>
      </div>
      <div class="button mt-24">
        <el-form-item>
          <el-button @click="handleClose">Cancel</el-button>
          <el-button type="primary" @click="Submit">Create</el-button>
        </el-form-item>
      </div>
    </el-form>
  </base-popup>
</template>

<script lang="ts">
  import { Component, Mixins } from 'vue-property-decorator'
  import { namespace } from 'vuex-class'
  import BasePopup from '@/components/base/popup/BasePopup.vue'
  import PopupMixin from '@/mixins/popup'
  import { WebRepository } from '@/services/repositories/product'
  import getRepository from '@/services'

  const apiWeb: WebRepository = getRepository('product')
  const xBase = namespace('xBase')
  const fkbAuth = namespace('fkbAuth')
  @Component({ components: { BasePopup } })
  export default class PopupAddMaterial extends Mixins(PopupMixin) {
    data: Record<string, any> = {
      name: '',
      info: ''
    }

    handleOpen(): void {
      console.log('open')
    }

    handleClose(): void {
      this.setOpenPopup({
        popupName: 'popup-add-material',
        isOpen: false
      })
      this.data.name = ''
      this.data.info = ''
    }

    Submit(): void {
      this.createMaterial()
      this.handleClose()
    }

    async createMaterial(): Promise<void> {
      const rs = await apiWeb.createMaterial(this.data)
    }

    // created() {

    // }
  }
</script>

<style lang="scss" scoped>
  .popup-add-clock {
    .cover {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .form {
        width: 268px;
      }
    }
    .button {
      // float: right;
      text-align: center;
    }
    .textarea {
      height: 40px;
    }
  }
</style>
