<template>
  <base-popup name="popup-add-clock" class="popup-add-clock" width="600px" :top="'90px'" :open="handleOpen" :close="handleClose" :isShowFooter="false">
    <h1 class="text-xl mb-24">THÊM ĐỒNG HỒ</h1>
    <el-form label-position="top" label-width="200px" :model="data.model">
      <div class="cover">
        <div class="left">
          <el-form-item label="Tên đồng hồ">
            <el-input class="form" v-model="data.model"></el-input>
          </el-form-item>
          <el-form-item label="Loại đồng hồ">
            <el-select class="form" v-model="dataClockType.name" placeholder="Chọn loại đồng hồ" clearable>
              <div v-for="itemType in dataClockType.data" :key="itemType._id"><el-option :label="itemType.name" :value="itemType.name"></el-option></div>
              <!-- <el-option label="Zone two" value="beijing"></el-option> -->
            </el-select>
          </el-form-item>
          <el-form-item label="Chất liệu">
            <el-select class="form" v-model="dataMaterial.name" placeholder="Chọn chất liệu đồng hồ">
              <div v-for="itemMaterial in dataMaterial.data" :key="itemMaterial._id"><el-option :label="itemMaterial.name" :value="itemMaterial.name"></el-option></div>
            </el-select>
          </el-form-item>
          <el-form-item label="Số lượng">
            <el-input class="form" v-model="data.numOfRemain"></el-input>
          </el-form-item>
        </div>
        <div class="right">
          <el-form-item label="Nhà cung cấp">
            <el-select class="form" v-model="dataProvider.name" placeholder="Chọn nhà cung cấp">
              <div v-for="itemProvider in dataProvider.data" :key="itemProvider._id"><el-option :label="itemProvider.name" :value="itemProvider.name"></el-option></div>
            </el-select>
          </el-form-item>
          <el-form-item label="Giá">
            <el-input class="form" v-model="data.unitPrice"></el-input>
          </el-form-item>
          <el-form-item label="Mô tả">
            <el-input class="form textarea" type="textarea" v-model="data.description"></el-input>
          </el-form-item>
        </div>
      </div>
      <div class="cursor mt-16">
        <!-- <font-awesome-icon icon="fa-solid fa-circle-plus" />
        <span class="ml-8">Thêm ảnh</span> -->
        <el-upload class="upload-demo" action="https://jsonplaceholder.typicode.com/posts/" :on-change="handleChange" :file-list="fileList">
          <el-button size="small" type="primary">
            <font-awesome-icon icon="fa-solid fa-circle-plus" />
            <span class="ml-8">Thêm ảnh</span>
          </el-button>
          <!-- <font-awesome-icon icon="fa-solid fa-circle-plus" />
        <span class="ml-8">Thêm ảnh</span> -->
          <!-- <div slot="tip" class="el-upload__tip">jpg/png files with a size less than 500kb</div> -->
        </el-upload>
      </div>
      <div class="button mt-24">
        <el-form-item>
          <el-button @click="closePopup">Cancel</el-button>
          <el-button type="primary" @click="Submit">Create</el-button>
        </el-form-item>
      </div>
    </el-form>
  </base-popup>
</template>

<script lang="ts">
  import { Component, Mixins } from 'vue-property-decorator'
  import { namespace } from 'vuex-class'
  import BasePopup from '@/components/base/popup/BasePopup.vue'
  import PopupMixin from '@/mixins/popup'
  import { WebRepository } from '@/services/repositories/product'
  import getRepository from '@/services'

  const apiWeb: WebRepository = getRepository('product')
  const xBase = namespace('xBase')
  const fkbAuth = namespace('fkbAuth')
  @Component({ components: { BasePopup } })
  export default class PopupAddClock extends Mixins(PopupMixin) {
    data: Record<string, any> = {
      model: '',
      unitPrice: '',
      description: '',
      numOfRemain: ''
    }
    type = ''

    dataProvider: Record<string, any>[] = []

    dataClockType: Record<string, any>[] = []
    dataMaterial: Record<string, any>[] = []

    fileList = [
      {
        name: 'food.jpeg',
        url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'
      },
      {
        name: 'food.jpeg',
        url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'
      }
    ]

    handleChange(file: any, fileList: { name: string; url: string }[]) {
      this.fileList = fileList.slice(-3)
    }

    handleOpen(): void {
      console.log('open')
      this.getType()
      //   this.isWantToRegister = false
    }

    closePopup(): void {
      this.setOpenPopup({
        popupName: 'popup-add-clock',
        isOpen: false
      })
    }
    handleClose(): void {
      this.setOpenPopup({
        popupName: 'popup-add-clock',
        isOpen: false
      })
    }

    Submit(): void {
      this.createClock()
    }

    async getType(): Promise<void> {
      this.dataMaterial = await apiWeb.getType({ type: 'material' })
      this.dataProvider = await apiWeb.getType({ type: 'provider' })
      this.dataClockType = await apiWeb.getType({ type: 'clockType' })
    }

    async createClock(): Promise<void> {
      this.data = await apiWeb.createClock(this.data)
    }

    // created() {

    // }
  }
</script>

<style lang="scss" scoped>
  .popup-add-clock {
    .cover {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .form {
        width: 260px;
      }
    }
    .button {
      // float: right;
      text-align: center;
    }
    .textarea {
      height: 40px;
    }
  }
</style>
