<template>
  <el-container class="main-content-wrapper w-100">
    <!-- <div class="sidebar-container">
      <div class="sticky">
        <div class="">SIDEBAR</div>
      </div>
    </div> -->
    <div class="page-loading" v-if="isLoading">
      <BaseLoading :size="168" />
    </div>
    <div class="main" v-if="!isLoading">
      <div class="">
        <div class="mb-40">
          <div v-if="allItems.length > 0">
            <section>
              <div class="container">
                <div class="cart-title">
                  <div class="subtitle is-4 mt-16 text-sm">
                    Bạn có <b style="font-weight: 600; font-size: 16px">{{ allItems.length }}</b> mẫu sản phẩm trong giỏ
                  </div>
                  <div style="margin-right: 490px" class="text-sm">
                    <el-checkbox v-model="selectAll" @change="handleSelectAll"></el-checkbox><span class="ml-1 cursor" @click="handleSelectAll(!selectAll)">Chọn tất cả</span>
                  </div>
                </div>
                <div class="cart-products">
                  <div class="cart-item-list">
                    <cart-item
                      v-for="item in allItems"
                      :key="item._id"
                      :data="item"
                      @changeQuantity="changeQuantity"
                      @deleteItem="handleDeleteItem"
                      @clickCheckbox="handleCheckItem"
                    />
                  </div>

                  <div class="cart-price">
                    <div class="cart-price-detail">
                      <div class="title is-4 text-xl">Thông tin giỏ hàng</div>

                      <div class="item-qty mb-16 text-sm">
                        <p>Số lượng sản phẩm</p>
                        <span>{{ totalItem }}</span>
                      </div>
                      <div class="item-total text-sm">
                        <p>Tổng tiền</p>
                        <span>{{ formatPrice(totalPrice) }}</span>
                      </div>
                      <div class="cart-button">
                        <button
                          class="button button-cart-info confirm cursor"
                          @click="handleOpenPopupBuy"
                          :class="listItemChecked.length == 0 ? 'btn-disabled' : ''"
                          :disabled="listItemChecked.length == 0"
                        >
                          Xác nhận thanh toán
                        </button>
                        <!-- <button class="button button-cart-info remove cursor">Xóa giỏ hàng</button -->
                        <button class="button button-cart-info other-product cursor" @click="openHome">Tiếp tục mua hàng</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div v-if="allItems.length === 0">
            <div class="container">
              <div class="cart-empty">
                <div class="center">
                  <h1>Bạn đang không có sản phẩm nào trong giỏ</h1>
                  <button class="button button-cart">Tiếp tục mua hàng</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="rightbar-container">
      <div class="sticky">
        <div class="" v-if="!isLoading">RIGHTBAR</div>
      </div>
    </div> -->
    <popup-buy-clock />
  </el-container>
</template>

<script lang="ts">
  import { Vue, Component, Watch } from 'vue-property-decorator'
  import EventBus from '@/utils/eventBus'
  import BaseLoading from '../../../components/base/loading/BaseLoading.vue'
  import PopupMixin from '@/mixins/popup'
  import PopupBuyClock from '../components/PopupBuyClock.vue'
  import { AccountRepository } from '@/services/repositories/account'
  import getRepository from '@/services'
  const apiAccount: AccountRepository = getRepository('account')

  import { formatPrice } from '@/config/format'
  import { debounce, forEach } from 'lodash'
  import CartItem from '../components/CartItem.vue'
  @Component({
    components: { PopupBuyClock, CartItem }
  })
  export default class Cart extends PopupMixin {
    isLoading = false
    timer: any
    selectAll = false
    value = new Date()
    num = 1
    allItems: Array<Record<string, any>> = [
      {
        _id: '63104a6fd8634b6c0ffef5ab',
        userId: '630d88d815caa4f8904ea7f6',
        clockId: {
          _id: '630dc7857ec3bf2dce40b113',
          model: 'Đồng hồ gỗ A',
          materialId: '630dba2f07f6b03241b0dcea',
          clockTypeId: '630e2b1f595ed934fb440868',
          numOfRemain: 30,
          description: 'Đồng hồ gỗ PRIME PRO MAX SUPER NOVA GALAXY ABCDE',
          images: ['https://tuanstore.net/wp-content/uploads/2019/10/dong-ho-qua-lac-treo-tuong-seiko-qxh071b.jpg'],
          unitPrice: 5000000,
          providerId: '630ee0b86b6e2fb3c6da9b2f',
          __v: 0
        },
        quantity: 1,
        createdAt: '2022-09-01T06:00:15.354Z',
        updatedAt: '2022-09-01T06:00:15.354Z'
      }
    ]
    listItemChecked: Array<Record<string, any>> = []

    get totalPrice(): string {
      let total = 0
      forEach(this.allItems, item => {
        total += item.clockId.unitPrice * item.quantity
      })
      return total.toString()
    }

    get totalItem(): string {
      let total = 0
      forEach(this.allItems, item => {
        total += item.quantity
      })
      return total.toString()
    }
    async getAllCartItem(): Promise<void> {
      this.isLoading = true
      this.allItems = await apiAccount.getAllItemInCart()
      this.isLoading = false
    }
    created(): void {
      //
      this.getAllCartItem()
    }
    destroy(): void {
      //   EventBus.$off('loadingPosts')
    }

    formatPrice(value: string | number): string {
      return formatPrice(value)
    }

    openHome(): void {
      this.$router.push('/')
    }
    openDetail(): void {
      this.$router.push('detail')
    }
    changeQuantity(item: Record<string, any>): void {
      //   debounce
      // eslint-disable-next-line @typescript-eslint/no-this-alias
      let _this = this
      clearTimeout(this.timer)
      this.timer = setTimeout(() => _this.handleChangeQuantity(item), 500)
    }
    async handleChangeQuantity(item: Record<string, any>): Promise<void> {
      console.log('>>> / file: Cart.vue / line 173 / item', item)
      const data = {
        clockId: item.clockId._id,
        quantity: item.quantity
      }
      const response = await apiAccount.updateQuantity(data)
      if (response) {
        // update quantity
        this.allItems.map(o => {
          if (o._id === item._id) o.quantity = item.quantity
        })
      }
    }
    async handleDeleteItem(item: Record<string, any>): Promise<void> {
      const deleteData = {
        clockId: item.clockId._id,
        quantity: 0
      }
      const success = await apiAccount.updateQuantity(deleteData)
      if (success) {
        this.allItems = this.allItems.filter(o => o._id !== item._id)
      }
    }
    handleCheckItem(item: Record<string, any>): void {
      if (item.isChecked) {
        let rs = this.listItemChecked.find(o => o._id === item._id)
        if (!rs) this.listItemChecked.push(item)
      } else {
        this.listItemChecked = this.listItemChecked.filter(o => o._id !== item._id)
      }
      if (this.listItemChecked.length === this.allItems.length) {
        this.selectAll = true
      } else this.selectAll = false
    }
    handleSelectAll(payload: any): void {
      this.selectAll = payload
      if (this.selectAll) this.listItemChecked = [...this.allItems]
      else this.listItemChecked = []
      EventBus.$emit('selectAll', payload)
    }
    handleOpenPopupBuy(): void {
      this.setOpenPopup({
        popupName: 'popup-buy-clock',
        isOpen: true
      })
    }
  }
</script>

<style lang="scss" scoped>
  .main-content-wrapper {
    min-height: calc(100vh - 80px);
    background: #fff !important;
    height: auto !important;
    @media screen and (max-width: 1024px) {
      // justify-content: flex-start;
      padding-left: 48px;
    }
    display: flex;
    position: relative;
    justify-content: center;
    // background: var(--fkb-theme-primary);

    // min-height: 768px;

    .sidebar-container {
      @media screen and (max-width: 1024px) {
        display: none;
      }
      display: flex;
      left: 0;
      top: 0;
      width: 24%;
      max-width: 360px;
      // height: 960px;
      // background: rgb(255, 255, 255);
    }

    .rightbar-container {
      @media screen and (max-width: 1024px) {
        width: 30%;
      }
      position: relative;
      display: flex;
      right: 0;
      width: 24%;
      max-width: 360px;
      // height: 380px;
      background: transparent;
    }

    .main {
      text-align: left;
      width: 80%;
      .cart-title {
        margin-bottom: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
      }
      .cart-products {
        display: flex;
        justify-content: space-between;
      }
      .cart-item-list {
        flex: 0.6;
        border: 1px solid #dbdbdb;
      }
      .cart-item {
        /* width: 80%; */
        display: flex;
        flex-direction: row;
        padding: 20px;
        margin-bottom: 7px;
        width: 100%;
        align-items: center;
        .check-box {
          justify-items: center;
        }
      }
      /* .cart-item-img {
  } */
      .cart-item-img > img {
        height: 100px;
        width: 100px;
        border: 1px solid var(--fkb-border-primary);
        object-fit: contain;
      }
      .cart-item-detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 0.8;
      }
      .cart-item-detail-description {
        font-weight: 600;
        font-size: 24px;
        color: red;
      }
      .cart-item-detail-price {
        color: grey;
        font-size: 18px;
        font-weight: 600;
        padding: 10px 10px 10px 0px;
        margin: 7px 0;
      }
      .cart-item-detail-qty {
        display: flex;
        align-items: center;
      }
      .qty-decrease > button,
      .qty-increase > button {
        margin-left: 7px;
        margin-right: 7px;
        height: 30px;
        width: 30px;
        border-radius: 0px;
        background-color: #dbdbdb;
      }
      .delete-item {
        flex: 0.2;
        padding: 30px;
        text-align: center;
        justify-content: center;
      }
      .delete-item > button {
        border-radius: 8px;
        width: 50px;
        border: none;
        background-color: #dbdbdb;
      }
      .delete-item > button:hover {
        background-color: #af6535;
        color: #fff;
        transition: 0.1s ease-in;
      }
      /* .middle {
    flex: 0.2;
  } */
      .cart-price {
        flex: 0.3;
        background-color: wheat;
        height: fit-content;
      }
      .cart-price-detail {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
      }

      .item-qty,
      .item-total {
        display: flex;
        justify-content: space-between;
      }
      .item-qty > p,
      .item-total > p {
        font-weight: 500;
      }
      .item-total > span {
        color: #e76262;
        font-weight: 500;
      }

      .cart-empty {
        width: 60%;
        margin: 0 auto;
      }
      .center {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .center > h1 {
        margin-bottom: 10px;
      }
      .button-cart {
        height: 50px;
        border: none;
        background-color: #dbdbdb;
      }
      .button-cart:hover {
        background-color: #3e8ed0;
        color: #fff;
        transition: 0.1s ease-in;
      }

      .cart-button {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .button-cart-info {
        padding: 10px;
        margin: 10px;
        border: none;
        color: #000;
        font-weight: 500;
        height: 50px;
        border-radius: 8px;
      }

      .title {
        color: brown;
        margin-bottom: 16px;
      }
      .confirm {
        background-color: #af6535;
      }
      .remove {
        background-color: #fff;
      }
      .other-product {
        color: #1f2330;
        background: rgb(195, 179, 195);
      }
    }
    @media screen and (max-width: 1024px) {
      width: 65%;
      min-width: unset;
      max-width: unset;
    }
    position: relative;
    display: flex;
    // min-width: 590px;
    // max-width: 680px;
    width: 80%;
    height: 100%;
    background: transparent;
    padding: 0 0 32px 0;
  }
</style>
