<template>
  <el-container class="main-content-wrapper w-100 h-100">
    <!-- <div class="sidebar-container">
      <div class="sticky">
        <div class="">SIDEBAR</div>
      </div>
    </div> -->
    <div class="page-loading" v-if="isLoading">
      <BaseLoading :size="168" />
    </div>
    <div class="main mt-2" v-if="!isLoading">
      <div class="banner">
        <el-carousel indicator-position="outside">
          <el-carousel-item v-for="item in items" :key="item.id">
            <img class="banner-img" :src="item.img" alt="" />
          </el-carousel-item>
        </el-carousel>
      </div>
      <div class="products">
        <h1 class="title">Danh mục sản phẩm</h1>
        <div class="content">
          <router-link class="item cursor no-decoration" :to="`/detail/${item._id}`" :detail="item._id" v-for="item in data" :key="item._id">
            <img class="item-image" :src="item.images" alt="" />
            <p class="text-base mt-1 text-primary">{{ item.unitPrice }}đ</p>
            <p class="text-base mt-1 text-primary name">{{ item.model }}</p>
          </router-link>
        </div>
      </div>
    </div>
    <!-- <div class="rightbar-container">
      <div class="sticky">
        <div class="" v-if="!isLoading">RIGHTBAR</div>
      </div>
    </div> -->
  </el-container>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator'
  import EventBus from '@/utils/eventBus'
  import BaseLoading from '../../../components/base/loading/BaseLoading.vue'
  import { WebRepository } from '@/services/repositories/product'
  import getRepository from '@/services'
  const apiWeb: WebRepository = getRepository('product')
  @Component({
    components: {}
  })
  export default class Home extends Vue {
    isLoading = false
    value = new Date()

    data: any = {}

    items = [
      {
        id: 1,
        img: 'https://plus24h.com/upload/editor/images/banner-1349.jpg'
      },
      {
        id: 2,
        img: 'https://plus24h.com/upload/editor/images/banner-1349.jpg'
      },
      {
        id: 3,
        img: 'https://plus24h.com/upload/editor/images/banner-1349.jpg'
      },
      {
        id: 4,
        img: 'https://plus24h.com/upload/editor/images/banner-1349.jpg'
      }
    ]

    async getAllClock(): Promise<void> {
      this.isLoading = true
      const result = await apiWeb.getAllProduct()
      this.isLoading = false
      // console.log(result, 'abc')

      this.data = result.data
    }
    created(): void {
      this.getAllClock()
    }
    destroy(): void {
      //   EventBus.$off('loadingPosts')
    }
  }
</script>

<style lang="scss" scoped>
  .main-content-wrapper {
    height: fit-content;
    background: #fff;
    text-align: center;
    @media screen and (max-width: 1024px) {
      // justify-content: flex-start;
      padding-left: 48px;
    }
    display: flex;
    position: relative;
    justify-content: center;

    // min-height: 768px;

    .sidebar-container {
      @media screen and (max-width: 1024px) {
        display: none;
      }
      display: flex;
      left: 0;
      top: 0;
      width: 24%;
      max-width: 360px;
      // height: 960px;
      // background: rgb(255, 255, 255);
    }

    .rightbar-container {
      @media screen and (max-width: 1024px) {
        width: 30%;
      }
      position: relative;
      display: flex;
      right: 0;
      width: 24%;
      max-width: 360px;
      // height: 380px;
      background: transparent;
    }

    .main {
      display: inline-block !important;
      width: 100% !important;
      text-align: center;
      .title {
        font-size: 30px;
        font-weight: 700;
        line-height: 24px;
        margin: 20px 0 40px;
      }

      .banner {
        height: 100%;
        .banner-img {
        }
      }
      .content {
        display: inline-flex;
        width: fit-content;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 1120px;

        .item {
          text-align: left;
          background: rgb(251, 241, 225);
          padding: 16px;
          border-radius: 16px;
          margin: 0 24px;
          // margin-right: calc((1237px - 232px * 4) / 4);
          margin-bottom: 24px;
          .name {
            width: 200px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: red !important;
          }

          .item-image {
            width: 200px;
            height: 260px;
          }
          .item-price {
            font-size: 16px;
            color: grey;
            margin: 16px 0;
          }
          .item-name {
            font-size: 20px;
            color: #af6535;
            font-weight: 700;
          }
        }
      }

      ::v-deep.banner {
        .el-carousel {
          .el-carousel__container {
            height: 530px;
          }
        }
      }

      @media screen and (max-width: 1024px) {
        width: 65%;
        min-width: unset;
        max-width: unset;
      }
      position: relative;
      display: flex;
      // min-width: 590px;
      // max-width: 680px;
      width: 80%;
      height: 100%;
      background: transparent;
      padding: 0 0 32px 0;
    }
  }
</style>
