<template>
  <el-container class="main-content-wrapper w-100">
    <!-- <div class="sidebar-container">
      <div class="sticky">
        <div class="">SIDEBAR</div>
      </div>
    </div> -->
    <div class="page-loading" v-if="isLoading">
      <BaseLoading :size="168" />
    </div>
    <div class="main" v-if="!isLoading">
      <div class="w-100">
        <div class="product-detail" id="token-sale">
          <div class="cover">
            <div class="frame-1">
              <div class="left">
                <div class="img-clock">
                  <BaseMedia :url="itemData.images[0]" :size="400" />
                </div>
                <button class="button cursor" @click="handleOpenPopupBuy">Mua ngay</button>
              </div>

              <div class="right">
                <h1 class="text-2xl">{{ itemData.model }}</h1>
                <div style="display: flex; margin-top: 8px">
                  <img class="star mr-1" src="@/assets/images/landing/star.png" alt="" />
                  <img class="star mr-1" src="@/assets/images/landing/star.png" alt="" />
                  <img class="star mr-1" src="@/assets/images/landing/star.png" alt="" />
                  <img class="star mr-1" src="@/assets/images/landing/star.png" alt="" />
                  <img class="star" src="@/assets/images/landing/star.png" alt="" />
                </div>
                <p class="text-des">Nhà cung cấp: {{ itemData.providerId.name }}</p>
                <!-- <p class="text-des">Màu sắc: loang</p> -->
                <p class="text-des">Chất liệu: {{ itemData.materialId.name }}</p>

                <p class="text-des">Loại đồng hồ: {{ itemData.clockTypeId.name }}</p>

                <p class="price">{{ itemPrice }}</p>
                <div class="bottom">
                  <button class="button cursor" href="description">Mô tả chi tiết</button>
                  <button class="button cursor" @click="pushItem">Thêm vào giỏ hàng</button>
                  <!-- <button class="button btn-right cursor">Đánh giá</button> -->
                </div>
              </div>
            </div>
            <div class="frame-2" id="description">
              <h1>Mô tả chi tiết</h1>
              <div>
                <h2>Giới thiệu đồng hồ</h2>
                <p class="detail">- Tên sản phẩm : đồng hồ để bàn gỗ hương đá</p>
                <p class="detail">- Kích thước: cao 71cm, rộng 44cm, sâu 14cm</p>
                <p class="detail">- Đồng hồ có kiểu dáng sang trọng, đục tinh tế, dày dặn</p>
                <p class="detail">- Được sản xuất tại làng nghề mộc nổi tiếng, dưới tay của thợ nghề lâu năm</p>
                <p class="detail">- Đồng hồ chạy bằng pin con thỏ, dễ dàng thay khi hết pin, có tặng quả lắc đi kèm</p>
                <p class="detail">- Đồng hồ được phun PU bóng, mịn, bền, dễ dàng lau, vệ sinh, chống mối mọt</p>
                <p class="detail mb-24">- Hàng được hoàn thiện kĩ, đẹp nhất khi tới tay khách hàng</p>
              </div>
              <div>
                <h2>Thông tin bảo hành</h2>
                <p class="detail" style="width: 89%; line-height: 24px">
                  Các mẫu đồng hồ được bảo hành 12 tháng về cả máy và chất liệu dây, một số mẫu được bảo hành 36 tháng. Ngoài ra khách hàng còn được miễn phí thay pin, thay dầu,
                  bảo dưỡng và vệ sinh đồng hồ.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="rightbar-container">
      <div class="sticky">
        <div class="" v-if="!isLoading">RIGHTBAR</div>
      </div>
    </div> -->
    <popup-buy-clock />
  </el-container>
</template>

<script lang="ts">
  import { Vue, Component, Prop, Mixins } from 'vue-property-decorator'
  import EventBus from '@/utils/eventBus'
  import BaseLoading from '../../../components/base/loading/BaseLoading.vue'
  import PopupMixin from '@/mixins/popup'
  import PopupBuyClock from '../components/PopupBuyClock.vue'
  import { WebRepository } from '@/services/repositories/product'
  import { AccountRepository } from '@/services/repositories/account'
  import getRepository from '@/services'

  import { formatPrice } from '@/config/format'
  const apiWeb: WebRepository = getRepository('product')
  const apiAccount: AccountRepository = getRepository('account')

  @Component({
    components: { PopupBuyClock }
  })
  export default class ItemDetail extends Mixins(PopupMixin) {
    // @Prop() detail!: Record<string, any>
    isLoading = true
    value = new Date()
    itemId = ''

    data: Record<string, any> = {
      clockId: '',
      quantity: 1
    }

    async getItemDetail(): Promise<void> {
      const result = await apiWeb.getItemDetail({ _id: this.itemId })
      if (!result) {
        this.$router.push({ name: 'NotFound' })
      } else {
        this.itemData = result
      }
    }

    get itemPrice(): string {
      return formatPrice(this.itemData.unitPrice)
    }

    itemData: Record<string, any> = {
      _id: '',
      model: '',
      materialId: {},
      clockTypeId: {},
      numOfRemain: 0,
      description: '',
      images: [],
      unitPrice: 0,
      providerId: {}
    }

    created(): void {
      this.isLoading = true
      this.itemId = this.$route.params._id
      this.data.clockId = this.$route.params._id
      this.getItemDetail()
      this.isLoading = false
    }
    destroy(): void {
      //   EventBus.$off('loadingPosts')
    }

    async pushItemIntoCart(): Promise<void> {
      const response = await apiAccount.pushItemIntoCart({
        clockId: this.itemData._id,
        quantity: 1
      })
      if (response) {
        this.$message({
          type: 'success',
          message: `Bạn đã thêm vào giỏ hàng thành công`
        })
      }
    }

    pushItem(): void {
      this.pushItemIntoCart()
    }
    handleOpenPopupBuy(): void {
      this.setOpenPopup({
        popupName: 'popup-buy-clock',
        isOpen: true
      })
    }
  }
</script>

<style lang="scss" scoped>
  .main-content-wrapper {
    @media screen and (max-width: 1024px) {
      // justify-content: flex-start;
      padding-left: 48px;
    }
    display: flex;
    position: relative;
    justify-content: center;
    background: var(--fkb-theme-primary);
    // min-height: 768px;

    .sidebar-container {
      @media screen and (max-width: 1024px) {
        display: none;
      }
      display: flex;
      left: 0;
      top: 0;
      width: 24%;
      max-width: 360px;
      // height: 960px;
      // background: rgb(255, 255, 255);
    }

    .rightbar-container {
      @media screen and (max-width: 1024px) {
        width: 30%;
      }
      position: relative;
      display: flex;
      right: 0;
      width: 24%;
      max-width: 360px;
      // height: 380px;
      background: transparent;
    }

    .main {
      width: 100% !important;
      .product-detail {
        padding-top: 40px;
        background: #fff;
        text-align: center;
        padding-bottom: 40px;

        // justify-content: space-between;
        .cover {
          display: inline-block;
          width: 70%;

          .frame-1 {
            display: flex;
            flex-direction: row;

            .left {
              border-right: 3px solid #af6535;
              padding-right: 40px;
              display: flex;
              flex-direction: column;

              // margin-left: 250px;
              .img-clock {
                height: 400px;
                object-fit: cover;
              }
              .button {
                // width: 180px
                height: 50px;
                border-radius: 12px;
                background: #af6535;
                color: #fff;
                font-size: 16px;
                border: none;
                margin-top: 30px;
              }
            }

            .right {
              display: flex;
              flex-direction: column;
              text-align: left;
              margin-left: 100px;
              width: 40%;

              h1 {
                font-style: italic;
                font-weight: 700;
                margin-bottom: 12px;
                color: red;
                margin-top: 12px;
              }

              .text-des {
                font-size: 18px;
                font-weight: 500;
                line-height: 4;
              }

              .star {
                width: 20px;
              }

              .price {
                font-size: 30px;
                font-weight: 600;
                margin-top: 20px;
              }
              .bottom {
                display: flex;
                flex-direction: row;
                margin-top: 40px;
                justify-content: space-between;
                .button {
                  width: 180px;
                  height: 50px;
                  border-radius: 12px;
                  background: #af6535;
                  color: #fff;
                  font-size: 16px;
                  border: none;
                }
              }
            }
          }
          .frame-2 {
            width: 100%;
            display: inline-block;
            margin-top: 80px;
            text-align: left;
            // margin-left: 200px;

            h1 {
              font-size: 30px;
              color: brown;
              margin-bottom: 40px;
            }
            h2 {
              font-size: 20px;
              margin-bottom: 24px;
            }

            .detail {
              font-size: 16px;
              margin-bottom: 8px;
              line-height: 32px;
            }
          }
        }
      }
      @media screen and (max-width: 1024px) {
        width: 65%;
        min-width: unset;
        max-width: unset;
      }
      position: relative;
      display: flex;
      // min-width: 590px;
      // max-width: 680px;
      width: 80%;
      height: 100%;
      background: transparent;
      padding: 0 0 32px 0;
    }
  }
</style>
