<template>
  <el-container class="main-content-wrapper w-100">
    <div class="sidebar-container">
      <div class="sticky">
        <div class="">
          <button v-for="tab in navigationTabs" :key="tab.id" class="btn-item mb-24 cursor" :class="tab.id === tabActive.id ? 'btn-item--active' : ''" @click="setTabActive(tab)">
            <div class="left-bar-item">
              <i></i><span>{{ tab.label }}</span>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="page-loading" v-if="isLoading">
      <BaseLoading :size="168" />
    </div>
    <div class="main mt-2" v-if="!isLoading">
      <BoProducts v-if="tabActive.title === 'Products'" />
      <BoOrders v-if="tabActive.title === 'Orders'" />
      <BoStatistical v-if="tabActive.title === 'Statistics'" />
    </div>
  </el-container>
</template>

<script lang="ts">
  import { Vue, Component, Mixins } from 'vue-property-decorator'
  import EventBus from '@/utils/eventBus'
  import BaseLoading from '../../../components/base/loading/BaseLoading.vue'
  import PopupMixin from '@/mixins/popup'

  import BoProducts from '../components/BoProducts.vue'
  import BoOrders from '../components/BoOrders.vue'
  import BoStatistical from '../components/BoStatistical.vue'

  @Component({
    components: { BoProducts, BoOrders, BoStatistical }
  })
  export default class Manager extends Mixins(PopupMixin) {
    isLoading = false
    value = new Date()
    tabs: Array<Record<string, any>> = [
      {
        id: 1,
        title: 'Created',
        routeName: 'Created'
      },
      {
        id: 2,
        title: 'Pending',
        routeName: 'Pending'
      },
      {
        id: 3,
        title: 'Success',
        routeName: 'Success'
      }
    ]

    tableData: Record<string, any>[] = [
      {
        model: 'C-01',
        unitPrice: '12.000.000',
        numOfRemain: 30,
        providerId: '"630d88bc15caa4f8904ea7e2"',
        materialId: 'Gỗ thông',
        clockType: '"630d88bc15caa4f8904ea7e6'
      },
      {
        model: 'C-01',
        unitPrice: '12.000.000',
        numOfRemain: 30,
        providerId: '"630d88bc15caa4f8904ea7e2"',
        materialId: 'Gỗ thông',
        clockType: '"630d88bc15caa4f8904ea7e6'
      },
      {
        model: 'C-01',
        unitPrice: '12.000.000',
        numOfRemain: 30,
        providerId: '"630d88bc15caa4f8904ea7e2"',
        materialId: 'Gỗ thông',
        clockType: '"630d88bc15caa4f8904ea7e6'
      },
      {
        model: 'C-01',
        unitPrice: '12.000.000',
        numOfRemain: 30,
        providerId: '"630d88bc15caa4f8904ea7e2"',
        materialId: 'Gỗ thông',
        clockType: '"630d88bc15caa4f8904ea7e6'
      },
      {
        model: 'C-01',
        unitPrice: '12.000.000',
        numOfRemain: 30,
        providerId: '"630d88bc15caa4f8904ea7e2"',
        materialId: 'Gỗ thông',
        clockType: '"630d88bc15caa4f8904ea7e6'
      },
      {
        model: 'C-01',
        unitPrice: '12.000.000',
        numOfRemain: 30,
        providerId: '"630d88bc15caa4f8904ea7e2"',
        materialId: 'Gỗ thông',
        clockType: '"630d88bc15caa4f8904ea7e6'
      },
      {
        model: 'C-01',
        unitPrice: '12.000.000',
        numOfRemain: 30,
        providerId: '"630d88bc15caa4f8904ea7e2"',
        materialId: 'Gỗ thông',
        clockType: '"630d88bc15caa4f8904ea7e6'
      },
      {
        model: 'C-01',
        unitPrice: '12.000.000',
        numOfRemain: 30,
        providerId: '"630d88bc15caa4f8904ea7e2"',
        materialId: 'Gỗ thông',
        clockType: '"630d88bc15caa4f8904ea7e6'
      },
      {
        model: 'C-01',
        unitPrice: '12.000.000',
        numOfRemain: 30,
        providerId: '"630d88bc15caa4f8904ea7e2"',
        materialId: 'Gỗ thông',
        clockType: '"630d88bc15caa4f8904ea7e6'
      },
      {
        model: 'C-01',
        unitPrice: '12.000.000',
        numOfRemain: 30,
        providerId: '"630d88bc15caa4f8904ea7e2"',
        materialId: 'Gỗ thông',
        clockType: '"630d88bc15caa4f8904ea7e6'
      },
      {
        model: 'C-01',
        unitPrice: '12.000.000',
        numOfRemain: 30,
        providerId: '"630d88bc15caa4f8904ea7e2"',
        materialId: 'Gỗ thông',
        clockType: '"630d88bc15caa4f8904ea7e6'
      }
    ]
    tableOrder: Record<string, any>[] = [
      {
        name: 'ĐH-01',
        unitPrice: '12.000.000',
        numOfRemain: 30,
        providerId: '"630d88bc15caa4f8904ea7e2"',
        materialId: 'Gỗ thông',
        clockType: '"630d88bc15caa4f8904ea7e6'
      },
      {
        model: 'C-01',
        unitPrice: '12.000.000',
        numOfRemain: 30,
        providerId: '"630d88bc15caa4f8904ea7e2"',
        materialId: 'Gỗ thông',
        clockType: '"630d88bc15caa4f8904ea7e6'
      },
      {
        model: 'C-01',
        unitPrice: '12.000.000',
        numOfRemain: 30,
        providerId: '"630d88bc15caa4f8904ea7e2"',
        materialId: 'Gỗ thông',
        clockType: '"630d88bc15caa4f8904ea7e6'
      },
      {
        model: 'C-01',
        unitPrice: '12.000.000',
        numOfRemain: 30,
        providerId: '"630d88bc15caa4f8904ea7e2"',
        materialId: 'Gỗ thông',
        clockType: '"630d88bc15caa4f8904ea7e6'
      },
      {
        model: 'C-01',
        unitPrice: '12.000.000',
        numOfRemain: 30,
        providerId: '"630d88bc15caa4f8904ea7e2"',
        materialId: 'Gỗ thông',
        clockType: '"630d88bc15caa4f8904ea7e6'
      },
      {
        model: 'C-01',
        unitPrice: '12.000.000',
        numOfRemain: 30,
        providerId: '"630d88bc15caa4f8904ea7e2"',
        materialId: 'Gỗ thông',
        clockType: '"630d88bc15caa4f8904ea7e6'
      },
      {
        model: 'C-01',
        unitPrice: '12.000.000',
        numOfRemain: 30,
        providerId: '"630d88bc15caa4f8904ea7e2"',
        materialId: 'Gỗ thông',
        clockType: '"630d88bc15caa4f8904ea7e6'
      },
      {
        model: 'C-01',
        unitPrice: '12.000.000',
        numOfRemain: 30,
        providerId: '"630d88bc15caa4f8904ea7e2"',
        materialId: 'Gỗ thông',
        clockType: '"630d88bc15caa4f8904ea7e6'
      },
      {
        model: 'C-01',
        unitPrice: '12.000.000',
        numOfRemain: 30,
        providerId: '"630d88bc15caa4f8904ea7e2"',
        materialId: 'Gỗ thông',
        clockType: '"630d88bc15caa4f8904ea7e6'
      },
      {
        model: 'C-01',
        unitPrice: '12.000.000',
        numOfRemain: 30,
        providerId: '"630d88bc15caa4f8904ea7e2"',
        materialId: 'Gỗ thông',
        clockType: '"630d88bc15caa4f8904ea7e6'
      },
      {
        model: 'C-01',
        unitPrice: '12.000.000',
        numOfRemain: 30,
        providerId: '"630d88bc15caa4f8904ea7e2"',
        materialId: 'Gỗ thông',
        clockType: '"630d88bc15caa4f8904ea7e6'
      }
    ]
    navigationTabs: Array<Record<string, any>> = [
      {
        id: 1,
        title: 'Products',
        label: 'Danh sách sản phẩm',
        routeName: 'Products'
      },
      {
        id: 2,
        title: 'Orders',
        label: 'Quản lý đơn hàng',
        routeName: 'Orders'
      },
      {
        id: 3,
        title: 'Statistics',
        label: 'Thống kê',
        routeName: 'Statistics'
      }
    ]
    tabActive: Record<string, any> = {}

    setTabActive(tab: Record<string, any>): void {
      this.tabActive = tab
    }

    openPopupAddClock(): void {
      this.setOpenPopup({
        popupName: 'popup-add-clock',
        isOpen: true
      })
    }
    openPopupAddClockType(): void {
      this.setOpenPopup({
        popupName: 'popup-add-clock-type',
        isOpen: true
      })
    }
    openPopupAddMaterial(): void {
      this.setOpenPopup({
        popupName: 'popup-add-material',
        isOpen: true
      })
    }
    openPopupAddProvider(): void {
      this.setOpenPopup({
        popupName: 'popup-add-provider',
        isOpen: true
      })
    }

    created(): void {
      this.tabActive = this.navigationTabs[0]
    }
    destroy(): void {
      //   EventBus.$off('loadingPosts')
    }

    openDetail(): void {
      this.$router.push('detail')
    }
  }
</script>

<style lang="scss" scoped>
  .main-content-wrapper {
    background: #fff;
    @media screen and (max-width: 1024px) {
      // justify-content: flex-start;
      padding-left: 48px;
    }
    display: flex;
    position: relative;
    justify-content: center;

    // min-height: 768px;

    .sidebar-container {
      padding-top: 40px;
      // height: 100%;
      text-align: left;
      margin-left: 40px;
      border-right: 3px solid #af6535;
      padding-right: 40px;
      .btn-item {
        display: flex;
        flex-direction: column;
        background: #fff;
        border-radius: 2px;
        // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        justify-content: center;
        height: 56px;
        width: 300px;
        border: none;
        transition: all 0.2s ease;
        &:hover {
          background: #af6535;
          // opacity: 60%;
        }
        .left-bar-item {
          width: 100%;
          font-size: 20px;
          font-weight: 500;
          line-height: 24px;
          // margin-bottom: 24px;
          display: inline-block;
          color: var(--fkb-text-primary);
          &:hover {
            color: #fff;
          }
        }
      }
      .btn-item--active {
        background: #af6535;
      }
      @media screen and (max-width: 1024px) {
        display: none;
      }
      display: flex;
      left: 0;
      top: 0;
      width: 24%;
      max-width: 360px;
      // height: 960px;
      // background: rgb(255, 255, 255);
    }

    .rightbar-container {
      @media screen and (max-width: 1024px) {
        width: 30%;
      }
      position: relative;
      display: flex;
      right: 0;
      width: 24%;
      max-width: 360px;
      // height: 380px;
      background: transparent;
    }

    .main {
      width: 100% !important;
      display: inline !important;
      text-align: center;
      .title {
        font-size: 24px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 40px;
        margin-top: 20px;
      }
      .content {
        display: inline-block;
        width: 950px;
        height: 80%;

        .btn-add-clock {
          display: flex;
          flex-direction: row;
          justify-content: end;
        }
        .wallet-header__above-tabs {
          display: flex;
          flex-direction: row;
          .tab-item {
            width: fit-content;
            padding: 16px 12px;
            border: none;
            background: #fff;
            border-radius: 8px;

            &:hover {
              color: var(--bc-tab-active);
              background: rgb(161, 161, 161);
            }
          }
        }

        .icon-add {
          width: 20px;
          height: 20px;
        }
      }
      @media screen and (max-width: 1024px) {
        width: 65%;
        min-width: unset;
        max-width: unset;
      }
      position: relative;
      display: flex;
      // min-width: 590px;
      // max-width: 680px;
      width: 80%;
      height: 100%;
      background: transparent;
      padding: 0 0 32px 0;
    }
  }
</style>
