<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script lang="ts">
  import { Vue, Component, Mixins } from 'vue-property-decorator'
  import getRepository from '@/services'
  import { namespace } from 'vuex-class'
  const xBase = namespace('xBase')
  const xAuth = namespace('xAuth')

  @Component({
    components: {}
  })
  export default class App extends Vue {
    @xAuth.Action('auth') reAuthenticate!: () => Promise<void>
    created(): void {
      //   this.$router.push({ name: 'MarketMain' })
      this.reAuthenticate()
    }
  }
</script>

<style lang="scss">
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

  nav {
    padding: 30px;

    a {
      font-weight: bold;
      color: #2c3e50;

      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }
</style>
